.navigation-card {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;              /* adjust to what you prefer */
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

.tab:hover {
    background-color: rgb(223, 223, 223);
}

.nav-icon {
    width: 80px;
    height: 80px;
}


.navigation-card .tab .nav-icon {
    width: 80px !important;
    height: 80px !important;
}

.navigation-card .tab svg {
    transform: scale(2);   /* shrink to 60% */
    transform-origin: center;
}